<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Master</title>
</head>
<body>
    <h1>
        <%= kindOfDay %>
    </h1>
    <ul>
        <li>gym</li>
        <li>run</li>
        <li>fight</li>


        <% for( var i=0; i < Tasks.length; i++){ %>
            <li>
                <%= Tasks[i] %>
            </li>
            <% } %>


    </ul>
    <form action="/" method="post">
        <input type="text" name="newItem">
        <button type="submit">Add</button>
    </form>
</body>
</html>